<!-- Use icons from fontawesome when you are adding new item in the contact list  -->
{% assign profile = site.data.profile %}
<div class="sidebar-wrapper">

    <div class="profile-container">

        {% if profile.avatar %}
        <img class="avatar" src="{{ site.baseurl }}/assets/images/{{ profile.avatar }}" alt=""/>
        {% endif %}

        {% if profile.name %}
        <h1 class="name">{{ profile.name }}</h1>
        {% endif %}

        {% if profile.tagline %}
        <h3 class="tagline">{{ profile.tagline }}</h3>
        {% endif %}

    </div><!--//profile-container-->

    {% include contact.html %}

    {% unless site.education_in_main %}
        {% include education.html %}
    {% endunless %}

    {% include language.html %}
    {% include interests.html %}

</div><!--//sidebar-wrapper-->